{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {}, "method": "GET", "uri": "https://api.opendota.com/api/not_exists"}, "response": {"body": {"encoding": "utf-8", "string": "{\"error\":\"Not Found\"}"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "X-Rate-Limit-Remaining-Minute": ["58"], "X-Rate-Limit-Remaining-Month": ["48860"], "ETag": ["W/\"15-5KajTCx0AJD0xogoSeOjjV2M8K0\""]}, "status": {"code": 404, "message": "Not Found"}, "url": "https://api.opendota.com/api/not_exists"}, "recorded_at": "2019-01-22T15:04:39"}], "recorded_with": "betamax/0.8.1"}